<script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>

<div id="card-container"></div>
<button id="get-nonce">Get Card Nonce</button>
<p id="nonce-output"></p>
<a href="/account/payment-method/">Go Back</a>

<script>
    // Getting Api requirements
    async function initializeSquare() {
        // Application Id
        const payments = Square.payments("sandbox-sq0idb-FwWpo-LhcJJlnRc_kDjvQA", "sandbox");
        // Setting up Card
        const card = await payments.card();
        await card.attach("#card-container");

        // Getting Card Nonce Token
        document.getElementById("get-nonce").addEventListener("click", async () => {
            try {
                // Getting Token
                const result = await card.tokenize();

                // If Card nonce Token was Succesfull
                if (result.status === "OK") {
                    document.getElementById("nonce-output").innerText = `Nonce: ${result.token}`;
                    console.log("Card Nonce:", result.token);

                    // Send nonce to Django backend
                    fetch("/account/add-card/", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ nonce: result.token })
                    })
                        .then(response => response.json())
                        .then(data => console.log("Server Response:", data));
                }
            }
            catch (error) {
                console.error("Error generating nonce:", error);
            }
        });
    }

  initializeSquare();
</script>
