{% extends 'main/base.html' %}

{% block title %}Spice Up Your Profile | Update Your Account{% endblock %}

{% block styles %}
    <style>
        /* Whole content */
        .whole-content{
            display:flex;
            flex-direction:column;
            width:400px;
        }
        /* Account Tabs */
        .account-tabs {
            list-style:none;
            background-color:whitesmoke;
        }
        .account-tabs li{
            display:flex;
            padding-block: 10px
        }
        .account-tabs li:hover{
            border-left: 3px solid blue;
            color:blue;
        }
        .account-tabs a{
            text-decoration: none;
            color:black;
        }



    </style>
{% endblock %}

{% block head %}Account{% endblock %}

{% block content %}
    <div class="whole-content">
        <ul class="account-tabs">
            <li id="my-account-border"><a id="my-account" href="/account/my-account">My Account</a></li>
            <li id="address-border"><a id="address" href="/account/address">Address Book</a></li>
            <li id="payment-method-border"><a id="payment-method" href="/account/payment-method">Payment Method</a></li>
            <li id="history-border"><a id="history" href="/account/history">History</a></li>
        </ul>
    </div>


{% endblock %}

{% block Javascript %}
    <script>
        document.getElementById('my-account-border').style.borderLeft = "3px solid blue";
        document.getElementById('my-account').style.color = 'blue';
    </script>
{% endblock %}
