{% extends 'main/base.html' %}

{% block title %}Add Sauces{% endblock %}

{% block styles %}
    <style>
    /* Whole Block */
    .whole-block {
        display:flex;
        flex-direction: column;
        font-family: "Loved By The King", sans-serif;
        font-size: x-large;
        margin-inline:15px
    }

    .update{
        display:flex;
        font-family:system-ui, sans-serif;
        font-size:medium;
    }
    @media screen and (max-width:425px){
        .update{
            width:100%
        }
    }

    </style>
{% endblock %}

{% block head %}Add New Sauces{% endblock %}


{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="whole-block">
            {{ form }}
            <button type="submit">Submit New Sauce</button>
        </div>
    </form>
{% endblock %}