{% extends 'main/base.html' %}

{% block title %}Shoping Cart{% endblock %}

{% block styles %}
    <style>
        /* Background color */
        body, html {
            background:linear-gradient(180deg, black 5%, olivedrab, black 99%);
            background-size: 100% 100%;
            height: fit-content;
        }
        /* Whole block */
        .whole-block {
            display:flex;
            color:white;
            align-items:center;
            text-align:center;
            margin-inline:125px;
            margin-bottom: 15px;
            position: relative;

        }

        /* Left block */
        .left-block {
            margin-right:50px;
        }
        .left-block img{
            display:flex;
            width:270px;
            height:270px;
        }

        /* Middle block */
        .mid-block {
        }
        .mid-text {
            width:500px;
            font-family: "Loved By The King", sans-serif;
            font-size: x-large;
                }

        /* Right block*/
        .right-block {
            display:flex;
            flex-direction: column;
            align-items: flex-end;
            position:absolute;
            right:125px;
            font-family: "Loved By The King", sans-serif;
            font-size: x-large;

        }

        /* Add Button */
        .add-btn {
            display:flex;
            background-color:black;
            justify-content: space-between;
            border-radius:1.5rem;
            padding-inline:5px;
            gap:25px;
            width:fit-content;
        }
        .add-btn button {
            height:35px;
            width:35px;
            border-radius:50%;
            align-self:center;
            background-color:olivedrab;
            color:black;
        }

        /* Delete Button */
        .del-btn button {
            display:flex;
            background-color: transparent;
            border:none;
            color:blue;
        }
        .del-btn button:hover{
            text-decoration-line: underline;
        }

        /* Submit Button */
        .submit-btn {
            border-radius: 16px;
            border: 3px solid olivedrab;
            background-color:black;
            color: white;
        }

        .processing-block{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-inline: 250px;
            margin-bottom: 25px;
        }


        @media screen and (max-width: 425px){
            .whole-block{
                display:flex;
                flex-direction: column;
                width:100%;
                margin-inline:10px;
                margin-top:5px;
                position:static;
                gap:5px
            }
            .left-block{
                width:50%;
                height:50%;
                display:flex;
                flex-direction: column;
                margin-right:unset;
                align-items: center;

            }
            .left-block img{
                width:100%;
                height:100%;
            }
            .mid-block{
                display:flex;
                flex-direction: column;
                align-items:center;
                width:100%
            }
            .mid-text{
                display:flex;
                flex-direction: column;
                width:auto
            }
            .mid-text p{
                display:flex
            }
            .right-block{
                display:flex;
                flex-direction: column;
                align-items: center;
                order:-1;
                position: static;
            }
            .processing-block{
                margin-inline:10px
            }
        }

    </style>
{% endblock %}

{% block head %}Cart{% endblock %}

{% block content %}
    {% for sauce, amount in cart %}
        <!-- {{ sauce.name }} -->
        <!-- Whole Block -->
        <div class="whole-block" id="{{ sauce.name }}">

            <!-- Getting {{ sauce.name }} Max Limit Instock -->
            {% for sauce_name, sauce_limit in max_quantity %}
                {% if sauce_name == sauce.name %}
                    <input type="hidden" id="{{ sauce.name }}_limit" value="{{ sauce_limit }}">
                {% endif %}
            {% endfor %}

            <!-- Left Block -->
            <div class="left-block">
                <!-- Image -->
                {% if sauce.image %}
                    <img class='img' src="{{ sauce.image.url }}">
                <!-- Default Image -->
                {% else %}
                    <img class='img' src="/media/default/no_image.png">
                {% endif %}
            </div>

            <!-- Middle Block -->
            <div class="mid-block">
                <!-- Name -->
                <div class="mid-text">
                    <!-- {{ sauce.name }} -->
                    <h1>{{ sauce }}</h1>

                    <!-- Description -->
                    <p style="text-align:left;">{{ sauce.description }}</p>

                </div>

                <!-- Quantity -->
                <!-- Add Buttons -->
                <div style="width:fit-content">
                    <p id='{{ sauce.name }}_message' style="display:none; font-family:'Loved By The King', sans-serif; color:red">Max!</p>
                    <div class="add-btn">
                    <button onclick="Add(-1, '{{ sauce.name }}')">-</button>
                    <p id="{{ sauce.name }}_amount">{{ amount }}</p>
                    <button onclick="Add(+1, '{{ sauce.name }}')">+</button>
                </div>
                </div>

                <!-- Delete Button -->
                <div class="del-btn">
                    <button class="del-btn" type="submit" onclick="Delete('{{ sauce.name }}')">Delete</button>
                </div>

            </div>

            <!-- Right Block -->
            <div class="right-block">
                <!-- Price -->
                <h6>Price</h6>
                <p id="{{ sauce.name }}_price">${{ sauce.price }}</p>
            </div>


        </div>
    {% endfor %}


    <!-- Total Price -->
    <div style="display:flex; color:white;justify-content: center; margin-bottom:25px">
        <!-- Total text-->
        <h2 style="display:flex">Subtotal (<p id="amount"></p>):</h2>
        <!-- Total Price -->
        <h2 id="total" name="total" style="padding-left:15px">?</h2>
    </div>

    <!-- Submit Order Button -->
    <form class="processing-block" method="POST">
        {% csrf_token %}
        <input type="hidden" id="real_total" name="real_total" value="None">
        <input type="hidden" id="cart" name="cart" value="None">
        <button class="submit-btn" type="submit" onclick="Info()">Proceed to checkout</button>
    </form>



{% endblock %}

{% block Javascript %}
    <script>
        // List of Sauces
        let lst = [{% for sauce, args in cart %}'{{ sauce.name }}',{% endfor %}];
        let new_lst = new Map();
        let amount_lst = []
        let price_lst = []

        // Data info that will be sent back
        function Info() {
            // Getting the Sauce
            for (let sauce = 0; sauce < lst.length; sauce++){
                // Getting the New Amount
                for (let amount = 0; amount < amount_lst.length; amount++) {
                    // Setting our Sauce with the new Amount
                    if (sauce === amount){
                        new_lst.set(lst[sauce], +document.getElementById(amount_lst[amount]).innerText)
                    }
                }
            }
            document.getElementById('cart').value = JSON.stringify(Object.fromEntries(new_lst))
        }

        // Add Function
        function Add(range, sauce) {
            // Sauce's Current Quantity Amount
            let sauce_amount = sauce +"_amount"

            // Getting Current Amount
            let num = +document.getElementById(sauce_amount).innerText


            // if Above 0, Add or subtract 1
            if (num + range >= 0 ) {
                // Adding or Subtracting from current amount
                num += range
            }

            // Resetting number if its below zero
            else {
                num = 0
            }

            // Seeing if number is above max of what is instock
            if (num >= +document.getElementById(sauce+"_limit").value){
                num = +document.getElementById(sauce+"_limit").value
                document.getElementById(sauce +'_message').style.display = 'block'
            }

            else {
                document.getElementById(sauce +'_message').style.display = 'none'
            }

            // Setting Quantity Amount
            document.getElementById(sauce_amount).innerText = num;
            Update()
        }

        // Delete Sauce
        function Delete(name){
            console.log(name, lst)

            // Getting Element inside of list
            const index = lst.indexOf(name)
            // Deleting Element
            if (index !== -1){
                lst.splice(index, 1)
            }



            document.getElementById(name).style.display = "none"
            console.log(name, lst)
            Update()
        }

        // Updating Total Price and Cart Information
        function Update() {
            // Total Amount
            let total = 0
            amount_lst = []
            price_lst = []

            // Getting price_lst
            for (let index = 0; index < lst.length; index++) {
                // Getting Sauce_price id so we can get the sauce price
                let sauce_price = lst[index] + '_price'

                // Getting Sauce_Amount so we can get the total amount
                let sauce_amount = lst[index] + '_amount'

                // If Sauce_price is not None then Push to list
                if (document.getElementById(sauce_price).innerText !== '$None') {
                    // Adding Sauce Price to list
                    price_lst.push(sauce_price);
                    // Adding The current Sauce to the amount list
                    amount_lst.push(sauce_amount)
                }

            }
            // Math
            for (let index = 0; index < price_lst.length; index++) {
                let price = +document.getElementById(price_lst[index]).innerText.slice(1)
                let amount = +document.getElementById(amount_lst[index]).innerText

                total += (price * amount)
            }

            // Showing in Decimal Form
            document.getElementById('total').innerText = "$"+total.toFixed(2);
            document.getElementById('real_total').value = "$"+total.toFixed(2);

            // Getting Amount of Items in Cart
            let item_amount = 0
            for (let item = 0; item < amount_lst.length; item++){
                item_amount += +document.getElementById(amount_lst[item]).innerText
            }
            document.getElementById('amount').innerText = item_amount
        }
        Update()
    </script>
{% endblock %}