{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}{{ title }}{% endblock %}

{% block styles %}
    <style>
        /* Whole Block */
        .whole-block {
            display:flex;
            justify-content: space-around;
        }

        /* Left Block*/
        .left-block {

        }
        .left-block img{
            display:flex;
            width:350px;
            height:450px;
            margin-block:auto;
            border: 10px double black;
        }

        /* Right Block */
        .right-block{
            font-family: "Loved By The King", sans-serif;
            font-size:x-large;
        }

        /* Form class */
        .update{
            display:block;
            font-family:system-ui;
            font-size: medium;
        }

        @media screen and (max-width: 425px){
            .whole-block{
                flex-direction: column;
                align-items:center;
                margin-inline:15px
            }
            .left-block img{
                width:100%;
                height:100%;
            }
            .right-block button{
                margin-top:15px;
                width:100%
            }
            .update{
                width:100%
            }
        }



    </style>
{% endblock %}

{% block content %}

    <!-- Table -->
    {% if not form %}
        <form method="GET" style="font-family:'Loved By The King', sans-serif; font-size:large; display:flex">
            {% csrf_token %}
            <!-- Getting Sauce Names to Decide from -->
            <label for="sauce">Sauce</label>
            <select id="sauce" name="sauce">
                <option value="None">----</option>
                <!-- Loading each Sauce -->
                {% for sauce in menu %}
                    <option value="{{ sauce }}">{{ sauce }}</option>
                {% endfor %}
            </select>
            <button name="btn" value="edit" type='submit'>Edit Sauce</button>
            <button name="btn" value="del" type="submit">Delete Sauce</button>
        </form>
    {% endif %}

    <!-- Loading Sauce Form for Updates -->
    {% if form %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Whole Block -->
            <div class="whole-block">

                <!-- Left block-->
                <div class="left-block">
                    {% if img %}
                        <img src="{{ img }}">
                    {% endif %}
                </div>

                <!-- Right block -->
                <div class="right-block">
                    {{ form }}
                    <button type="submit" name="id" value="{{ id }}">Update Sauce</button>
                </div>

            </div>
        </form>
    {% endif %}
{% endblock %}