{% extends 'main/base.html' %}

{% block title %}Menu Items | Double Dubs Sauce Co | Where bold flavors meet quality ingredients!{% endblock %}


{% block styles %}
    <style>
        /* Whole Block */
        .whole-block {
            display:flex;
            flex-wrap:wrap;
            color:black;
            justify-content:center;
            margin-top:10px;
            font-family: "Loved By The King", sans-serif;
            font-size: x-large;
        }

        /* Sauce Button */
        .sauce-btn {
            padding-right:50px;
            display:flex;
            flex-direction: column;
            align-items:center;
        }
        .sauce-btn button {
            background-color:transparent;
            border-color: transparent;
            padding-block:6px
        }
        .sauce-btn button:hover {
            background-color:whitesmoke;
        }
        .sauce-btn img {
            width:150px;
            height:150px;
            border-radius:100%
        }

        /* Responsive sizing */
        @media screen and (max-width:425px){
            .sauce-btn-img {
                width:100px;
                height:100px
            }
            .sauce-btn {
                padding-right:5px;
            }

        }




    </style>
{% endblock %}

{% block head %}Select Sauce{% endblock %}

{% block back-arrow %}{% endblock %}

{% block content %}
    <form method="GET">
    {% csrf_token %}
    <div class="whole-block">
        <!-- Menu Items -->
        {% for item in sauces %}
            <!-- {{ item.name }} Sauce -->
            <div class="sauce-btn">
                <button name="item" value="{{ item.name }}">

                    <!-- Text -->
                    <p>{{ item.name }}</p>

                    <!-- Image -->
                    <img src="{{ item.image.url }}">

                </button>
                <p>${{ item.price }}</p>
            </div>
        {% endfor %}
    </div>
    </form>
{% endblock %}

